input, textarea, button {
  margin: 10px 0;
  border: 1px solid #CCC;
}
input, textarea {
  width: 100%;
  padding: 10px;
}
textarea {
  resize: vertical;
}
button {
  border-radius: 4px;
  padding: 10px 30px;
  color: #555;
  cursor: pointer;
}
button:hover {
  color: #333;
  border-color: #888;
}